.App {
  text-align: center;
  background-image: url(/public/images/background.png);
  height: 100%; 
  width: 100%;
  left: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  overflow: scroll;
}

.header {
  background-color: rgba(235, 94, 43, 0.6);
}

.Nav {
  text-align: left;
}

.big-text {
  display: inline;
  font-size: 40px;
  text-align: left;
  margin: 2%;
  /* background-color: black; */
  color: rgb(26, 233, 64)
}

.navbar-link-text {
  display: inline;
  vertical-align: center;
  padding: 10px;
  color:  rgb(26, 233, 64);
  /* text-align: right; */
}

.center-card {
  padding-top: 5%;
  padding-bottom: 0%;
  align-items: center;

}
.card {
  background-color: rgba(235, 94, 43, 0.7);
  padding: 5px;
  width: 50%;
  margin: auto;
  padding: 1% 5%;
  border: 2px solid black;
  border-radius: 10px;
  text-align: center;
  justify-content: center;
  display: flexbox;
  }

h3 {
  display: inline-block;
  margin-right: 10px;
}



.button {
  background-color: rgb(26, 233, 64, 0.5); /* Green */
  border: none;
  color:  rgba(8, 7, 7, 0.935);;
  padding: 5px 5px;
  text-align: center;
  text-decoration: ;
  display: inline-block;
  font-size: 15px;
}

.form {
  background-color: rgb(26, 233, 64, 0.5); /* Green */
  border: none;
  color:  rgba(8, 7, 7, 0.935);;
  padding: 5px 5px;
  text-align: center;
  text-decoration: ;
  display: inline-block;
  font-size: 15px;
}